body {
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: #000000;
    /*background: linear-gradient(120deg, #2980b9, #8e44ad);*/
    height: 100vh;
    overflow: hidden;

}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: #131313;
    border-radius: 10px;
}

.center h1 {
    text-align: center;
    padding: 0 0 20px 0;
    color: #fff;
    border-bottom: 1px solid #f77062;

}

.center form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt_field {
    position: relative;
    border-bottom: 2px solid #f77062;
    margin: 30px 0;
}

.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

input[type="text"] {
    color: #fff;
}

input[type="password"] {
    color: #fff;
}

input[type="email"] {
    color: #fff;
}

.txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #fff;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s
}

.txt_field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #f77062;
    transition: .5s;

}

.txt_field input:focus~label,
.txt_field input:valid~label,
.txt_field input:valid~label {
    top: -5px;
    color: #f77062;
}

.txt_field input:focus~span::before,
.txt_field input:valid~span::before,
.txt_field input:valid~span::before {
    width: 100%;
}

.pass {
    margin-top: -20px;
    /* Adjust the margin-top value as needed */
    color: #fff;
    cursor: pointer;
}

.pass:hover {
    text-decoration: underline;
}

.login-link {
    text-decoration: none;
}

.login_btn {
    width: 100%;
    height: 50px;
    border: 1px solid;
    border-radius: 25px;
    font-size: 18px;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    outline: none;
    margin-top: 20px;
}

.login_btn:hover {
    border-color: none;
    transition: .5s;
}


.login_btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.signup_link {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;

}

.signup_link a {
    color: #f77062;
    text-decoration: none;
}

.signup_link a:hover {
    text-decoration: underline;
}

.signup-container a {
    width: 100%;
    height: 50px;
    border: 1px solid;
    border-radius: 25px;
    font-size: 18px;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    outline: none;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    border-radius: 25px;
    font-size: 18px;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    outline: none;
}

input[value="Login"] {
    color: #fff;
}

input[type="submit"]:hover {
    border-color: none;
    transition: .5s;
}