@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: rgb(226, 226, 226);
}

.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%) !important;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2.25rem;
    font-weight: bolder;
    font-style: italic;
    padding: 0 2rem;

}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar_item {
    height: 80px;
}

.navbar_links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    color: #fff;
}


.navbar_links:hover {
    color: #f77062;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar_menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #131313;
    }

    .navbar_menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar_logo {
        padding-left: 25px;

    }

    .navbar_toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }


    .navbar_item {
        width: 100%;
    }

    .navbar_links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;

    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar_btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar_toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}


/* MAin Section */
.main {
    position: relative;
    padding: 20px;
    width: 100%;
}

.main-top {
    display: flex;
    width: 100%;
}

.main-top i {
    position: absolute;
    right: 0;
    margin: 10px 30px;
    color: rgb(110, 109, 109);
    cursor: pointer;
}

.main .users {
    display: flex;
    width: 100%;
}


.users .card {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.6s ease-in-out;
}

.users .card-front,
.card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.users .card-front {
    z-index: 2;
}

.users .card-back {
    transform: rotateY(180deg);
    z-index: 1;
}

.users .card.flipped {
    transform: rotateY(180deg);
}


.users .card {
    width: 25%;
    margin: 10px;
    background: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.users .card .front.card {
    z-index: 2;
}

.users .card .back.card {
    transform: rotateY(180deg);
    z-index: 1;
}

.users .card img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.users .card h4 {
    text-transform: uppercase;
}

.users .card p {
    font-size: 12px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.users table {
    margin: auto;
}

.users .per span {
    padding: 5px;
    border-radius: 10px;
    background: rgb(223, 223, 223);
}

.users td {
    font-size: 14px;
    padding-right: 15px;
}

.users .card button {
    width: 100%;
    margin-top: 8px;
    padding: 7px;
    cursor: pointer;
    border-radius: 10px;
    background: transparent;
    border: 1px solid #f77062;
}

.users .card button:hover {
    background: #f77062;
    color: #fff;
    transition: 0.5s;
}

/*Attendance List serction  */
.attendance {
    margin-top: 20px;
    text-transform: capitalize;
}

.attendance-list {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 15px;
    min-width: 100%;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}

table thead tr {
    color: #fff;
    background: #f77062;
    text-align: left;
    font-weight: bold;
}

.table th,
.table td {
    padding: 12px 15px;
}

.table tbody tr {
    border-bottom: 1px solid #ddd;
}


.table tbody tr:nth-of-type(odd) {
    background: #f3f3f3;
}


.table tbody tr:hover {
    color: #f77062;
    /* Change the color on hover */
}

.table tbody tr td {
    padding: 12px 15px;
    box-sizing: border-box;
    font-weight: lighter;
    border: 1px solid transparent;
}

.table tbody tr:hover td {
    border-color: transparent;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #4AD489;
}

.table button {
    padding: 6px 20px;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #f77062;
}

.table button:hover {
    background: #f77062;
    color: #fff;
    transition: 0.5rem;
}

.third.flipped .face.front {
    transform: rotateY(-180deg);
}

.third.flipped .face.back {
    transform: rotateY(0deg);
}

.third {
    width: 25%;
    margin: 10px;
    background: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.6s ease-in-out;
}

.third .face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.third .face.front {
    z-index: 2;
}

.third .face.back {
    transform: rotateY(180deg);
    z-index: 1;
}

.third .face img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.third .face h4 {
    text-transform: uppercase;
}

.third .face p {
    font-size: 12px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.third .face .per span {
    padding: 5px;
    border-radius: 10px;
    background: rgb(223, 223, 223);
}

.third .face td {
    font-size: 14px;
    padding-right: 15px;
}

.third .face button {
    width: 100%;
    margin-top: 8px;
    padding: 7px;
    cursor: pointer;
    border-radius: 10px;
    background: transparent;
    border: 1px solid #f77062;
}

.third .face button:hover {
    background: #f77062;
    color: #fff;
    transition: 0.5s;
}