<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>ID Card UI Design</title>
    <link rel="stylesheet" href="../static/css/card.css">
    <link rel="stylesheet" href="../static/css/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <script src="https://kit.fontawesome.com/4fa5958d80.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar">
        <div class="navbar_container">
            <a href="{{ url_for("index") }}" id="navbar_logo">FRATS</a>
            <div class="navbar_toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar_menu">
                <li class="navbar item">
                    <a href="{{ url_for("attendance") }}" class="navbar_links">Attendance</a>
                </li>
                <li class="navbar_item">
                    <a href="{{ url_for("webcam") }}" class="navbar_links">Webcam</a>
                </li>
                <li class="navbar_item">
                    <a href="{{ url_for("about") }}" class="navbar_links">About</a>
                </li>
                <li class="navbar_item">
                    <a href="{{ url_for("index") }}" class="navbar_links">Exit</a>
                </li>
                <!--<li class="navbar_item">
                    <a href="/" class="navbar_links">Contact</a>
                </li>-->
                <!--<li class="navbar_btn"><a href="/" class="button">Sign Up</a>
                </li>-->
            </ul>
        </div>
    </nav>
<div class="wrapper">
    <div class="card">
        <div class="card-inner">
            <div class="front">
                <img src={{url_for('static', filename='img/pic1.png')}}>
               
                <div class="info">
                    <p>Sam David</p>
                </div>
            </div>
            <div class="back">
                <img src={{url_for('static', filename='img/waving-hand.png')}}>
                <h1>Sam<span>David</span></h1>
                <p>I'm a UI designer currently working <span>@frats </span>in design depart.</p>
                <div class="row">
                    <div class="col">
                        <h2>Staff ID</h2>
                        <p>01</p>
                    </div>
                    <div class="col">
                        <h2>Depart</h2>
                        <p>DESIGN</p>
                    </div>
                    <div class="col">
                        <h2>Date</h2>
                        <p>01/2024</p>
                    </div>
                </div>
                <div class="row">
                    <a href="{{ url_for("attendance") }}"><button>Back</button></a>
                    <a href="https://www.linkedin.com/feed/"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://github.com/"><i class="fa-brands fa-github"></i></a>
                    
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>

