<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FRATS</title>
    <link rel="stylesheet" href="../static/css/styles.css">
 
</head>
<body>
    <h1><b>FRATS</b></h1>
    <select id="videoSelect"></select>
    <br>
    <button id="startCameraButton">Start Camera</button>
    <br>
    Video Tag
    <script src="../static/js/webcam.js"></script>
    <br>
    <div class="camera">
        <video id="video">Video stream not available.</video>
        <br>
        <button id="takePictureButton">Take photo</button>
    </div>
    <br>
    Canvas
    <script src="../static/js/webcam.js"></script>
    <br>
    <canvas id="canvas">
    </canvas>
    <br>
    <form action="/" method="POST" enctype="multipart/form-data">
        {{form.hidden_tag()}}
        Name:
        <input type="text" name="nm" onblur="getName()"><br>
        {{form.file()}}
        {{form.Submit()}}
      </form>
</body>
</html>