<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/admin.css" />
    <script src="https://kit.fontawesome.com/4fa5958d80.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <div class="center">
        <style> 
            .btn-close{
            color: #fff;
        } 
        .btn-close:hover {
            color: #f77062;
            transition: all 0.3s ease;
        }</style>
        <a href="{{ url_for("index") }}" class="btn-close" ><i class="fa-solid fa-xmark"></i></a>
        <h1>Login</h1>
        <form action="/log" method="post">
            <div class="txt_field">
                <input type="text" name="una" required>
                <label>Username</label>
            </div>
            <div class="txt_field">
                <input type="password" name="upass" required>
                <label>Password</label>
            </div>
            <a href="{{ url_for("reset") }}" class="pass">Forgot Password?</a>
            <button class="login_btn"><a href="{{ url_for("webcam") }}">Login</a></button>
            <div class="signup_link">
                Not a member? <a href="{{ url_for("signup") }}">Signup</a>
            </div>
        </form>
    </div>

</body>

</html>